.Tittle{
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        background-color: #0381ff7e;
        border-radius: 50%;
        bottom: 0;
        width: 6rem;
        height: .4rem;
    }

    &::after{
        content: "";
        position: absolute;
        left: 0;
        background-color: #037FFF;
        border-radius: 50%;
        width: 3rem;
        height: .4rem;
    }

    span{
        position: absolute;
        top: 15%;
        left: 0;
        font-size: 4rem;
        opacity: 0.07;
        
    }
}